.topBar-button:link, .topBar-button:visited {
    background-color: $orange;
    border-radius: 10rem;
    padding: 1.2rem 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: inherit;
    border: none;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s;
    @include respond(tab-port) {
      font-size: 1.6rem;
    }
    @include respond(phone) {
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
  }
  
.topBar-button:hover {
    opacity: 0.5;
}


.topBar-link1 {
font-weight: bold;
border-bottom: 1px solid $white;
border-radius: 0.1rem;
margin-right: 1rem;
@include respond(phone) {
  margin-right: 2rem;
}
}

.topBar-link2 {
font-weight: normal;
margin-right: 3.2rem;
@include respond(tab-port) {
  margin-right: 0rem;
}
@include respond(phone) {
  margin-right: 0rem;
}
}


