.top-bar-desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11.5rem;
    background-color: $dark-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
        display: none;
      }
      @include respond(phone) {
        display: none;
      }
  }
  
  .top-bar-left {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-style: normal;
    line-height: 2.8rem;
  }

  .vertical-line {
    border-left: 1px solid $white;
    height: 100%;
    margin: 0 1.6rem;
  }

  .top-bar-left img {
    height: 5.6rem;
    margin-right: 3.6rem;
  }
  
  .top-bar-right {
    font-size: 18px;
    a {
      text-decoration: none;
      color: $white;
      padding-bottom: 0.5rem;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.5;
      }
    }
  }



  
 


  